@import 'type.css';

body {
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: gray;
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
    a {
        color: white;
    }
}
